block variables
    - var name = "Sharik"
    var

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' type='text/css' href='dist/main.css')
    title Title
  body
    h1 Hello, pug!!!
    p #{name}
